.col-1-4 {
  list-style: none;
  margin-top: 2rem;
  margin-left: 2rem;
  flex: 30%;
  max-width: 30%;
  height: 15vh;
  color: #000;

  .index {
    color: #000;
    display: block;
    text-align: right;
    font-family: "Amiri";
    text-decoration: none;
    margin-top: 0.5rem;

    .flex_surah {
      display: flex;

      justify-content: space-between;
      .left {
        display: flex;
        justify-content: center;
        text-align: left;
        font-size: 1rem;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;

        .nama_surah {
          font-size: 1.25rem;
        }
      }
      .right {
        display: block;
        position: relative;
        top: 1rem;
        font-size: 1.6rem;
      }
    }
  }

  &:hover {
    transform: scale(1.07);
    // box-shadow: 0 1.5rem 4rem rgb(214, 215, 217);
    cursor: pointer;
  }
}

$breakpoint-mobile: 600px;

@media (max-width: $breakpoint-mobile) {
  .col-1-4 {
    flex-direction: column;
    max-width: none;
    margin-left: auto;
    border: none;
    border-top: 1px solid rgb(214, 215, 217);
    margin-bottom: 5rem;
    .index {
      .flex_surah {
        .left {
          font-size: 1.2rem;
        }
      }
    }
  }
}
